{% extends "friends/scaffold.html" %}
{% block content %}
<div class="row justify-content-center">
    <table class="table">
	{% for accomplishment in object_list %}
	<tr>
	    <td>
	    	{% if user.is_authenticated %}
		<a href="/accomplishment/{{accomplishment.pk}}/">{{ accomplishment.description }}</a>
		{% else %}
		{{ accomplishment.description }}
		{% endif %}
	    </td>
	    <td>{{ accomplishment.points }}</td>
	</tr>
	{% empty %}
	<tr><td>No accomplishments yet.</td></tr>
	{% endfor %}
    </table>
</div>
{% endblock %}
