{% extends "friends/scaffold.html" %}
{% load friend_extras %}
{% block content %}
{% sort_for_collage object_list as collage_friends %}
{% for friend_row in collage_friends %}
<div class="row justify-content-center">
    {% for friend in friend_row %}
    <a href="/friend/{{friend.pk}}/"><img src="{{ friend.mug_shot.url }}" alt="{{ friend.name }}" width=200/></a>
    {% endfor %}
</div>
{% empty %}
<div class="row justify-content-center">
    <h3>No friends yet.</h3>
</div>
{% endfor %}
{% endblock %}
