{% extends "friends/scaffold.html" %}
{% load friend_extras %}
{% block content %}
{% sort_for_collage object_list as collage_friends %}
{% for friend_row in collage_friends %}
<div class="row justify-content-center">
    {% for friend in friend_row %}
    <div class="col-3 col-lg-2" style="padding:0px">
	{% if user.is_authenticated %}
	<a href="/friend/{{friend.pk}}/"><img src="{{ friend.mug_shot.url }}" alt="{{ friend.name }}" class="img-fluid"/></a>
	{% else %}
	<img src="{{ friend.mug_shot.url }}" alt="{{ friend.name }}" class="img-fluid"/>
	{% endif %}
    </div>
    {% endfor %}
</div>
{% empty %}
<div class="row justify-content-center">
    <h3>No friends yet.</h3>
</div>
{% endfor %}
{% endblock %}
