{% extends "friends/scaffold.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 text-center">
	<table class="table">
	    {% for game in object_list %}
		{% if not game.is_hidden or user.is_authenticated %}
	    <tr>
		<td>
		    <a href="/game/{{game.pk}}/detail/">{{ game.title }}</a>
		</td>
		{% if user.is_authenticated %}
		<td>
		    <a href="/game/{{game.pk}}/">Update ({{ game.is_hidden }})</a>
		</td>
		{% endif %}
	    </tr>
		{% endif %}
	    {% endfor %}
	</table>
    </div>
</div>
{% endblock %}
