{% extends "friends/scaffold.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 text-center">
	<form method="post">
	    {% csrf_token %}
	    <table class="table">
		<tr>
		    <td>Title</td>
		    <td>{{ form.title }}</td>
		</tr>
		<tr>
		    <td>Description</td>
		    <td>{{ form.description }}</td>
		</tr>
		<tr>
			<td>Is hidden</td>
			<td>{{ form.is_hidden }}</td>
		</tr>
	    </table>
	    <input type="submit" value="Submit" />
	</form>
	{% if game %}
	<a href="/game/{{ game.pk }}/delete/">Delete</a>
	{% endif %}
    </div>
</div>
{% endblock %}
