{% extends "friends/scaffold.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 text-center">
	<h1>The Plan</h1>
	One day, five pubs, lots of fun!
	</br></br>
	We will be kicking off at 3.30pm at The Grapes and meandering towards the Dickens Inn
	throughout the afternoon/early evening (see route detail below). I will be setting challenges
	over the course of the day and awarding points accordingly - challenges probably won't be
	rinks based. Points will be recorded live on this website. As the competition will undoubtebly
	be fierce I will offer the invaluable prize of a handwritten letter of my gratitude to the winner.
	</br></br>
	If you can't join from the start then feel free to catch us up along the way. I'll be doing
	my best to keep to the timetable at the bottom of this page.
    </div>
</div>
</br>
<div class="row justify-content-center">
    <div class="col-md-12">
	<img src="/media/map.jpg" class="img-fluid w-100">
    </div>
</div>
</br>
<div class="row justify-content-center">
    <h1>The Route</h1>
</div>
</br>
<div class="row justify-content-center">
    <h2>The Grapes - 15:30</h2>
</div>
<div class="row justify-content-center">
    <h5>76 Narrow St, E14 8BP</h5>
</div>
<div class="row justify-content-center">
    <p>9 min walk from Limehouse DLR</p>
</div>
</br>
<div class="row justify-content-center">
    <h2>The Prospect of Whitby - 16:30</h2>
</div>
<div class="row justify-content-center">
    <h5>57 Wapping Wall, E1W 3SH</h5>
</div>
<div class="row justify-content-center">
    <p>6 min walk from Wapping Overground</p>
</div>
</br>
<div class="row justify-content-center">
    <h2>The Captain Kidd - 17:30</h2>
</div>
<div class="row justify-content-center">
    <h5>108 Wapping High St, E1W 2NE</h5>
</div>
<div class="row justify-content-center">
    <p>2 min walk from Wapping Overground</p>
</div>
</br>
<div class="row justify-content-center">
    <h2>The Town of Ramsgate - 18:30</h2>
</div>
<div class="row justify-content-center">
    <h5>62 Wapping High St, E1W 2PN</h5>
</div>
<div class="row justify-content-center">
    <p>6 min walk from Wapping Overgound</p>
</div>
</br>
<div class="row justify-content-center">
    <h2>The Dickens Inn - 19:30</h2>
</div>
<div class="row justify-content-center">
    <h5>Marble Quay, E1W 1UH</h5>
</div>
<div class="row justify-content-center">
    <p>9 min walk from Tower Hill Underground</p>
</div>
</br>
{% endblock %}
