<html>
    <head>
	<title>Ollie is 30</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <ul class="navbar-nav mr-auto navbar-left">
		<li class="nav-item">
		    <a class="navbar-brand" href="/">Ollie is 30</a>
		</li>
	    </ul>
	    <ul class="navbar-nav navbar-right">
		{% if user.is_authenticated %}
		<li class="nav-item">
		    <a class="nav-link" href="/leaderboard">Leaderboard</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="/accomplishments/">Accomplishments</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="/games/">Games</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="/friend/add/">Add Friend</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="/accomplishment/add/">Add Accomplishment</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="/game/add/">Add Game</a>
		</li>
		{% endif %}
	    </ul>
	</nav>
	</br>
	<div class="container-fluid">
	    {% block content %}
	    {% endblock %}
	</div>
    </body>
</html>
