<html>
    <head>
	<title>Ollie is 30</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <a class="navbar-brand" href="/">Ollie is 30</a>
	    {% if user.is_authenticated %}
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		    <li class="nav-item">
			<a class="nav-link" href="/leaderboard">Leaderboard</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="/accomplishments/">Accomplishments</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="/games/">Games</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="/friend/add/">Add Friend</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="/accomplishment/add/">Add Accomplishment</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="/game/add/">Add Game</a>
		    </li>
		</ul>
	    </div>
	    {% endif %}
	</nav>
	</br>
	<div class="container-fluid">
	    {% block content %}
	    {% endblock %}
	</div>
    </body>
</html>
